.main {
    padding: 16px;
    background-color: #4B0082;
    color: white;
    text-align: center;
    background-size: cover;
  }
  
  .main h1 {
    margin-bottom: 16px;
  }
  
  .product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
  }
  